@model dynamic

@{
    ViewBag.Title = "Then Comes Marriage : Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mockup promo-image">
    <div class="third push-twothird promo-text">
        <p>After having my herring hole slammed, he then proceeded to plow my chocolate starfish.</p>
        <input type="submit" class="btn promo-btn" value="Get involved">
    </div>
</div>
