@model dynamic

@{
    ViewBag.Title = "Then Comes Marriage : Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mockup promo-image">
    <div class="third push-twothird promo-text">
        <p>After having my herring hole slammed, he then proceeded to plow my chocolate starfish.</p>
        <input type="submit" class="btn promo-btn" value="Get involved">
    </div>
</div>
<div class="row">
    <div class="third infobox mockup">
        <p>It was bliss having his trouser bowser stuffed inside me again; stuffing my one slice toaster with a squash just didn't get my shame portal spraying like it used to. Inserting a cucumber into my clam-flavoured pothole got me flowing tuna tunnel tears faster than greased shit off a shiny shovel.</p>
    </div>
    <div class="third infobox mockup">
        <p>He rolled a giant toilet twinkie on my fiery biscuits just so he could gobble it up like a bulldog eating porridge. I can't wait to chow down on the magician's wax from his cream reaper. The feeling of his penis pudding foaming down my throat got my fallopian fish stock flowing quicker than a greased weasel shit.</p>
    </div>
    <div class="third infobox mockup">
        <p>The mixture of hardened fudge nugget and love piss in my oxo orifice created the delicious sphincter sauce that he was so fond of. After having my oyster ditch hammered, he then proceeded to hammer my oxo orifice.</p>
        <input type="submit" class="btn" value="Register">
    </div>
</div>
<div class="row testimonials mockup">
    <div class="third testimonial">
        <blockquote>
		    <p>Then Comes Marriage gave our guests everything they needed to know about the day. It was totes amaze balls. With a capitol BALLS!</p>
		    <cite>Macs & Becci - Leeds</cite>
	    </blockquote>
    </div>
    <div class="twothird">
        <img src="https://dl.dropboxusercontent.com/u/10918652/testimonial_example.png" title="Macs&Becci" alt="Macs&Becci"/>
    </div>
</div>