@model dynamic

@{
    ViewBag.Title = "Then Comes Marriage : Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mockup promo-image">
    <div class="third push-twothird promo-text">
        <p>After having my herring hole slammed, he then proceeded to plow my chocolate starfish.</p>
        <input type="submit" class="btn promo-btn" value="Get involved">
    </div>
</div>
<div class="row">
    <div class="third infobox mockup">
        <p>It was bliss having his trouser bowser stuffed inside me again; stuffing my one slice toaster with a squash just didn't get my shame portal spraying like it used to. Inserting a cucumber into my clam-flavoured pothole got me flowing tuna tunnel tears faster than greased shit off a shiny shovel.</p>
    </div>
    <div class="third infobox mockup">
        <p>He rolled a giant toilet twinkie on my fiery biscuits just so he could gobble it up like a bulldog eating porridge. I can't wait to chow down on the magician's wax from his cream reaper. The feeling of his penis pudding foaming down my throat got my fallopian fish stock flowing quicker than a greased weasel shit.</p>
    </div>
    <div class="third infobox mockup">
        <p>The mixture of hardened fudge nugget and love piss in my oxo orifice created the delicious sphincter sauce that he was so fond of. After having my oyster ditch hammered, he then proceeded to hammer my oxo orifice.</p>
        <input type="submit" class="btn" value="Register">
    </div>
</div>
<div class="row testimonials mockup">
    <div class="third testimonial">
        <blockquote>
		    <p>The unrelenting orgasms from his Vince cable slamming my vaginal bacon buffet made me come so hard, I began sweating like a dyslexic on Countdown.</p>
		    <cite>Mary — Somerset</cite>
	    </blockquote>
    </div>
    <div class="third testimonial">
        <blockquote>
		    <p>My throat was so full of one-eyed monster and cock custard, the love piss was flowing down my chin.</p>
		    <cite>Greg — Northallerton</cite>
	    </blockquote>
    </div>
    <div class="third testimonial">
        <blockquote>
		    <p>The feeling of his ectoplasm trickling down my throat got my minge monsoon flowing quicker than a greased weasel shit</p>
		    <cite>Sue — Swindon</cite>
	    </blockquote>
    </div>
</div>