.mockup {
    outline: 2px dashed #ddd;
}
/* =Layout.cshtml
-----------------------------------------------------------------------------*/
.header {
    position: relative;
    margin-bottom: .5em;
}
.logo {
    text-align: center;
    height: 100px;
    vertical-align: middle;
}
.sign-in {
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#nav-main {
    margin: 1em 0;
    text-align: justify;
    -ms-text-justify: distribute;
    text-justify: distribute;
}
#nav-main a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    display: block;
    border-radius: 10px !important;
    border: 2px dashed #ddd;
}
.footer {
    width: 100%;
    min-height: 250px;
}
    .footer h2 {
        padding: 15px 0 5px;
    }
/* =Home/Index.cshtml
-----------------------------------------------------------------------------*/
.promo-image {
    height: 200px;
    background-size: 100%;
    background-image: url('https://dl.dropboxusercontent.com/u/10918652/Becci%26Macs-331.jpg');
    
}
    .promo-text {
        position: relative;
        height: 200px;
        background-color: #FFF;
        background-color: rgba(255, 255, 255, .93);
    }
        .promo-text p {
            padding: 30px 5px 10px;
            text-align: center;
        }
    .promo-btn {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
.infobox {
    height: 200px;
    position: relative;
}
    .infobox p {
        padding: 15px;
        text-align: justify;
    }
    .infobox .btn {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .testimonials {
        padding: 4px;
    }
.testimonial {
    height: 150px;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, .6);
    text-align: justify;
    position: relative;
}
    .testimonial blockquote {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 10px;
        border: none;
    }
    .testimonial cite {
        position: absolute;
        bottom: 5px;
    }